* {
    font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: rgb(117, 30, 15);
  transition: 0.3s ease;
}

a:hover{
  color: rgb(240, 80, 51);
}

.nav {
  position: fixed;
  top: 80px;
  right: 40px;
  background: #f0f0f0;
  padding: 15px 35px 15px 15px;
  border-radius: 20px;
}

.header__logo {
    width: 150px;
}

.imagen-terminal {
    width: 800px;
    box-shadow: 10px 20px 40px 5px #000000;
}

.imagen-ignore {
  height: 350px;
  width: 200px;
  box-shadow: 10px 20px 40px 5px #000000;
}

.imagen-ignore--mas-width {
  width: 220px;
}

.imagen-flecha {
    width: 200px;
    height: 200px;
}

.imagen-flecha--pequeña {
    width: 100px;
    height: 100px;
}

.seccionprincipal__margen {
  margin: 50px 0 90px 0
}

.video-repositorio {
    width: 1050px;
    box-shadow: 10px 20px 40px 5px #000000;
}

.video-gitflow {
  height: 600px;
  width: 600px;
}

.video-pullrequest {
  width: 900px;
}

.iconoflecha {
  width: 60px;
  position: sticky;
  bottom: 30px;
  left: 95.5%;
  margin: 20px;
  transition: 0.3s ease;

}

.iconoflecha:hover {
  width: 65px;
  }

  .parrafo-colaboradores {
    width: 250px;
  }

  /* ------------------ Media Queries -------------------- */

  @media (max-width: 1811px) {
    .nav {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
    }
    .nav__ul {
      display: flex;
      gap: 25px;
    }
  }

  @media (max-width: 1309px) {
    .video-repo {
      width: 600px;
    }
    .imagen-flecha {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 1022px) {
    .nav__ul {
      font-size: 0.7rem;
    }
    .imagen-terminal {
      width: 450px;
    }
    .video-pullrequest {
      width: 450px;
    }
    .video-gitflow {
      width: 450px;
    }
  }

  @media (max-width: 806px) {
    .nav__ul {
      gap: 15px;
      font-size: 0.6rem;
    }
  }

  @media (max-width: 770px) {
    .video-repo {
      width: 400px;
    }
  }

  @media (max-width: 654px) {
    .imagen-terminal {
      width: 325px;
    }

  }

  @media (max-width: 664px) {
    .nav__ul {
      gap: 10px;
      font-size: 0.5rem;
    }
    .nav {
      padding: 0;
    }
  }

  @media (max-width: 568px) {
    .imagen-terminal {
      width: 275px;
    }

    .video-repo {
      width: 300px;
    }
    .video-gitflow {
      width: 300px;
    }
    .video-pullrequest {
      width: 300px;
    }
    .imagen-flecha {
      width: 50px;
      height: 50px;
    }
    * {
      font-size: 0.8rem;
    }
    .nav__ul {
      display: block;
    }
    .nav {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #f0f0f0;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
  }
  }